/* #btn1{
  width: 100px;
  height:50px;
  border-radius: 15px;
  font-size:25px;
  margin-top: 480px;
  margin-left: 1050px;
}
#btn1:hover{
  color:#fff
}
button:hover{
  box-shadow: 0 0 10px #ff0180, 0 0 20px #0b5aec;
  text-shadow:0 0 10px #f1f1f1,0 0 10px #07d5fa;
  border-color: #06f7eb;
  background-color: black;
  transition: 0.3s background;
  animation:movingShadow 3s infinite linear;
} */